.main-card {
  background-color: transparent;
  width: 350px;
  height: 300px;
  perspective: 1000px;
}

.main-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgba(105, 105, 105, 0.466);
}

.card-icon{
  font-size: 1.8rem;
}
.card-title{
  margin: 20px 0px;
}
.card-description{
  font-size: 0.9rem;
  margin: 10px;
  text-align: center;
  /* text-justify: inter-word; */
}

.main-card:hover .main-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(45deg,rgb(255, 97, 57),rgb(248, 74, 141));
  border-radius: 25px;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;
  
}