figure{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img {
    width: 100%;
    object-fit: cover;
    /* height: 300px; */
}

.page-image-header-title{
    position: absolute;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 2px 30px;
    border-radius: 35px;
}

.page-sub-header{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2.5px solid #6c3cc5;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 35px 0px;
}

.page-main-header{
    /* display: inline-block; */
    background: linear-gradient(45deg,#EE5B40,#ee406b);
    color: white;
    padding: 2px 20px;
    border-radius: 30px;
    transition: 0.4s;
}
.page-header-detail{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 15px 00px;
    text-align: justify;
}

.page-detail-image figure img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(187, 187, 187, 0.541);
}