.uppper-header {
    background-color: #00529e;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}

ul.nav-ul-li li {
    list-style-type: none !important;
}

.uppper-header-content {
    display: flex;
    justify-content: space-between;
}

.lower-header li::before {
    content: none;
}

.lower-header {
    background-color: #323333 !important;
}

.lower-header-content .navbar {
    background-color: #323333 !important;
}

.lower-header-content .nav-link {
    color: white;
}
.lower-header-content .nav-link.active {
    color: white;
    border-bottom: 2px solid #EE5B40;
}
.navbar-brand{
    font-size: 2rem;
    border-bottom: none !important;
    font-weight: 600;
}
a.nav-link.active::before {
    position: absolute;
    color: white;
    height: 4px;
}