.uppper-header {
    background-color: #00529e;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}

ul.nav-ul-li li {
    list-style-type: none !important;
}

.uppper-header-content {
    display: flex;
    justify-content: space-between;
}

.lower-header li::before {
    content: none;
}

.lower-header {
    background-color: #323333 !important;
}

.lower-header-content .navbar {
    background-color: #141414c7 !important;
    padding: 20px 0px;
}

.lower-header-content .nav-link {
    display: inline-table;
    color: white;
    border-bottom: 2px solid transparent;
}

.lower-header-content .nav-item{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0px 5px;
}

.lower-header-content .nav-link:hover{
    color: #EE5B40;
    border-bottom: 2px solid #EE5B40;
}


.lower-header-content .nav-link.active {
    color: white;
    border-bottom: 2px solid #EE5B40;
}

.lower-header-content .nav-link.active:hover{
    color: #EE5B40;
}
.navbar-brand{
    margin: 0px 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    /* border-bottom: none !important; */
}
.navbar-brand.active{
    color: white;
}
.navbar-brand:hover{
    color: white;
}

.navbar-toggler{
    color:transparent;
    margin: 0px 15px;
}

#navbarColor01{
    margin: 0px 15px;
}


/* a.nav-link.active::before {
    position: absolute;
    color: white;
    height: 4px;
} */