.contact-info__wrapper {
    /* background: linear-gradient(90deg, rgba(2,7,28,0.7792366946778712) 12%, rgba(2,6,24,0.8940826330532213) 38%, rgba(3,3,11,0.8548669467787114) 60%, rgba(3,1,0,0.7120098039215687) 87%); */
    background-color: #323333;
    /* background-color: #EE5B40; */
    overflow: hidden;
    border-radius: .625rem .625rem 0 0;
    color:rgba(255, 255, 255, 0.912);
    
}
.contact-content-title{
    /* display: inline-block; */
    background: linear-gradient(45deg,#EE5B40,#ee406b);
    color: white;
    padding: 2px 20px;
    border-radius: 30px;
    transition: 0.4s;
}
.contactHead
{
    background-color: transparent;
    position: relative;
    overflow: hidden;
    width: 100%;

}
.contactHead img{
    width: 100%;
    object-fit: cover;
}


.contactinner
{
    position: absolute;
    width: 340px;
    height: 400px;
    right:5%;
    top:20%;
    color:white;
    transition: all;
    transition: 1s;
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    --moz-animation-iteration-count:inherit;
    color:#323333;
    /* text-shadow: 0px 0px 10px rgb(70, 70, 70); */
}
.alert-message{
    position: absolute;
}

.spinner-custom{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(87, 87, 87, 0.589);
}
.spinner-custom .spinner-sp{
    width: 70px;
    height: 70px;
}
.show-spinner{
    display: flex;
}
.hide-spinner{
    display: none;
}


@keyframes anim {
    0% {top:300px}
    100%{top:20%}
  }


@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 3rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;

}

.t1:hover{
    color:#EE5B40;
}


.contact__wrapper {
    background-color: #fff;
    border-radius: .625rem;
    box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.486);
}
/* .contact-info__wrapper{
    background-color: rgb(82, 82, 218);
} */