
/* Service section start */
.serviceContent .row .col-xl-7 ul li{
  margin: 25px 0px;
}
.serviceContent-image{
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(109, 109, 109, 0.397);
}
.serviceBtn{
  background-color: #9D4088;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  display: block;
  margin: 0 auto;
  transition: 0.4s;
}
.serviceBtn:hover{
  background-color: #EE5B40;
}

/* Service section end */

.page-image-header-title{
  position: absolute;
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 2px 30px;
  border-radius: 35px;
}

.page-sub-header{
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #6c3cc5;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 35px 0px;
}

.page-main-header{
  /* display: inline-block; */
  background: linear-gradient(45deg,#EE5B40,#ee406b);
  color: white;
  padding: 2px 20px;
  border-radius: 30px;
  transition: 0.4s;
}
.page-header-detail{
  font-family: sans-serif;
  font-size: 1.2rem;
  padding: 15px 60px;
  text-align: justify;
}

.page-main-header-description{
  font-weight: 400;
  font-size: 1.6rem;
}


/* Carousel Start */
.carsousel-description{
  font-weight: 400;
  font-size: 1.4rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);

}

.carousel-item{
  height: 100vh !important;
}

.carsousel-image{
  height: 100%;
  object-fit: cover;
}

.carsousel-title{
  display: inline-block;
  background: rgba(255, 60, 0, 0.623);
  color: white;
  padding: 2px 20px;
  border-radius: 25px;
  transition: 0.4s;
}

.carsousel-title:hover{
  cursor: pointer;
}

.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  border-radius: 50%;
  transition: 0.4s;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
  background-color: #ec7560d8;
  scale: 1.2;

}
/* Carousel End */


/* Industry Start */
.industry-card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.industry-card-image{
  border-radius: 10px;
  opacity: 0.9;
}
.industry-card-title{
  position: absolute;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0px 10px black;
}

/* Industry End */

@media only screen and (max-width: 700px) {
  .carousel-item{
    height: 80vh !important;
  }
  .carsousel-title{
    font-size: 1.4rem;
  }
  .carsousel-description{
    font-size: 1.2rem;
  }
}