figure img {
  max-width: 100%;
  height: 300px;
}
.crane-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(128, 127, 127, 0.288);
  transition: 0.2s;
  opacity: 0.9;
}
.crane-container{
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
.crane-image:hover{
  transform: scale(1.06);
  opacity: 1;
}

.infrastructure-content-title{
  /* display: inline-block; */
  text-align: center;
  /* background: linear-gradient(45deg,#EE5B40,#ee406b); */
  color: black;
  padding: 2px 20px;
  /* border-radius: 30px; */
  transition: 0.4s;
  border-bottom: 2px solid #6c3cc5;
}

.infrastruture-machine-heading{
  display: inline-block;
  font-weight: 600;
  background-color: #363636;
  color: white;
  padding: 7px 35px;
  margin: 25px 0px;
  border-radius: 25px;
  /* border-bottom: 2.5px solid #8811b8;   */
}

.infrastructure-detail{
  font-size: 1.3rem;
  text-align: start;
  margin: 25px 0px;
  font-family: sans-serif;
}

.infrastructure-machine {
  margin: 35px 0px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 0px 10px rgba(128, 127, 127, 0.288);
  border-radius: 15px;
}
 
.infrastructure-machine .machine-description ul li {
  font-size: 1.2rem;
  font-family: sans-serif;
}

/* h3 {
  margin: 40px 0 0 0;
} */