footer {
  margin-top: 50px;
  box-sizing: border-box;
  background-color: red;
}

.footer-up {
  background-color: #323333;
  color: rgba(255,255,255,0.7);
}

.address-text:hover
{
  font-weight:400;
  color:#EE5B40;
}
.footer-up .nav-link:hover {
  color: white;
}

.footer-up li {
  list-style-type: none;
}

.footer-up li::before {
  content: none;
}

.footer-up ul {
  padding: 0;
}

.footer-up h5 {
  color: white;
}

.footer-up h5::before {
  color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  height: 3px;
  width: 34px;
}

.footer-down {
  background-color: black;
  padding: 20px 0 5px;
  text-align: center;
  color: white;
}

.companyName{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
}

.add-icon{
  color: #EE5B40;
}

.companyName h2{
  font-family: sans-serif;
}

.map-container {
  height: 450px;
  width: 100%;
}